* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  color: white;
  background-color: rgb(233, 213, 213);
  font-family: lato, sans-serif;
  margin-top: 40px;

}

.App{
   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h1 {
  margin: 20px 0;
  font-family: Lato, sans-serif;
  font-size: 25px;
  color: black;
  text-align: center;
}

.tarea-lista-principal {
  width: 600px;
  min-height: 500px;
  background-color: #3d3dda;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}